.Logo {
  @include img-block('Logo.svg', 240px, 50px, contain);
  @include mq1 {width: 120px; height: 25px;}
}

.Navbar {
  @include flex(row, space-around, flex-start, nowrap, 60px);
  @include mq1 {display: none;}
  padding: 0px;
  list-style: none;

  a {
    @include nav-dot(1rem);
    @include font($font-light, 1.4rem, $color-light);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
  }
}

.Socials {
  @include flex(row, center, center, nowrap, 20px);
}

.ContentRow {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  padding: 50px 20px;
  @include flex(row, space-between, center);
  @include mq1 {@include flex(column, flex-start, center)}
}

.Button {
  @include flex(column, center, center);
  @include mq1 {border: 0}
  cursor: pointer;
  width: fit-content;
  color: $color-dark;
  border: 2px solid $color-dark;
  font-size: 1.6rem;
  font-family: $font-regular;
  text-decoration: none;
  background: transparent;
  padding: 20px 40px;
  &.rounded {
    padding: 0px;
    width: 40px;
    height: 40px;
    color: $color-light;
    border-radius: 50%;
    border-width: 1px;
    border-color: $color-light;
  }
  &:hover {
    background-color: $color-hover;
  }
  &:active {
    background-color: $color-light;
    color: $color-blue;
  }
}

.PageTitle {
  font-size: 44px;
  color: $color-dark;
  font-family: $font-bold;
  text-align: center;
  text-transform: uppercase;
  &::before {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 30px auto;
    background-color: $color-dark;
  }
}

.ProjectCard {
  @include flex(row, center, center, nowrap, 40px);
  @include mq1 {@include flex(column, center, center, wrap, 40px)}
  &Img {
    position: relative;
    :nth-child(1) {
      width: 630px;
      height: 470px;
    }
    :nth-child(2) {
      width: 630px;
      height: 470px;
      top: -70px;
      position: absolute;
      z-index: -1;
    }
  }
  &Text{
    @include flex(column, space-around, flex-start);
    height: 470px;
    h4 {font-size: 22px; color: $color-dark; font-family: $font-light; margin: 10px 0;}
    h3 {font-size: 44px; color: $color-dark; font-family: $font-bold; margin: 10px 0;}
    p {font-size: 18px; color: $color-semi; font-family: $font-text;}
    i {font-size: 18px; color: $color-dark;}
    i>span {font-size: 18px; color: $color-dark; font-family: $font-light; font-style: italic; margin-left: 10px;}
  }
}