.Header {
  @include flex(column, space-between, center, nowrap);
  @include img-block('header_bg.png', 100%, 800px);

  h1 {
    font-size: 8rem;
    letter-spacing: 4px;
    color: $color-light;
    font-family: $font-bold;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
  }

  h2 {
    font-size: 1.8rem;
    letter-spacing: 5px;
    color: $color-light;
    font-family: $font-light;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
  }

  // need to create Button component
  // so we can use it in slider, scroll-down, socials
  // and it will be good if it can be square or round
  // we can use if statement with different stylesets
  // like:
  // <Button type="round">
  //   <i className="...."></i>
  // </Button>
  // or add icons by param
  // <Button icon="fas fa-angle-down">

  button {
    width: 40px;
    height: 40px;
    border: 1px solid $color-light;
    border-radius: 50%;
    font-size: 1.6rem;
    color: $color-light;
    text-decoration: none;
    background: transparent;
    margin: 40px;
    &:hover {
      background-color: $color-hover;
    }
  }
}