.Header {
  @include flex(column, space-between, center, nowrap);
  @include img-block('header_bg.png', 100%, 800px);

  h1 {
    font-size: 8rem;
    letter-spacing: 4px;
    color: $color-light;
    font-family: $font-bold;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
  }

  h2 {
    font-size: 1.8rem;
    letter-spacing: 5px;
    color: $color-light;
    font-family: $font-light;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
  }
}