$color-light: #fff;
$color-hover: #fff2;
$color-dark: #2c4058;
$color-semi: #4b5562;
$color-blue: #55b7ff;

$font-regular: 'GothamRegular';
$font-bold: 'GothamBold';
$font-light: 'GothamBook';
$font-text: 'Open Sans';